@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem 1.5rem;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 540px;
  margin: 2rem auto;
  text-align: center;
}

header h2 {
  font-weight: 200;
}

header h1 {
  font-weight: 600;
}

h1,
h2 {
  margin: auto;
  font-size: 2rem;
}
header p {
  color: var(--Grey500);
  font-size: 1rem;
}

/* Cards base layout (mobile first) */
.main-container {
  margin: 0 auto 4rem;
  display: grid;
  gap: 1.75rem;
  overflow-x: hidden;
  min-height: auto;
}

/* Card style */
.card {
  min-height: 235px;
  width: 340px;
  background: var(--White);
  padding: 1.75rem;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card h3 {
  margin: 0 0 0.5rem;
}

.card p {
  margin: 0 0 2.5rem;
  font-size: 0.95rem;
  color: var(--Grey400);
  font-weight: 400;
}

.card img {
  position: absolute;
  right: 1.8rem;
  bottom: 2.2rem;
  width: 3.2rem;
  min-height: auto;
}

.card-1 {
  border-top: 4px solid var(--Cyan);
}
.card-2 {
  border-top: 4px solid var(--Red);
}
.card-3 {
  border-top: 4px solid var(--Orange);
}
.card-4 {
  border-top: 4px solid var(--Blue);
}

@media (min-width: 1150px) {
  .main-container {
    width: 1100px;

    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  /* 1: Supervisor  */
  .card-1 {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  /* 2: Team Builder  */
  .card-2 {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
  }

  /* 3: Karma  */
  .card-3 {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
  }

  /* 4: Calculator  */
  .card-4 {
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
  }
}

/*  Tablet */
@media (min-width: 768px) and (max-width: 1150px) {
  .main-container {
    width: 90vw;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    height: 814px;
  }

  .card-1 {
    grid-column: 1/5;
    grid-row: 2;
  }
  .card-2 {
    grid-column: 3/7;
  }

  .card-3 {
    grid-column: 5/9;
    grid-row: 2;
  }
  .card-4 {
    grid-column: 3/7;
    grid-row: 3;
  }
}

/* Small screen*/
@media (max-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 450px;
    min-height: auto;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .card {
    width: min(100%, 360px);
  }

  .card-1 {
    grid-row: 1;
  }
  .card-2 {
    grid-row: 2;
  }

  .card-3 {
    grid-row: 3;
  }
  .card-4 {
    grid-row: 4;
  }
}
